@model IEnumerable<blog.Models.Comment>


@foreach (var item in Model) {
    <hr/>
    <div class="comment-container">
        <i>@Html.DisplayFor(modelItem => item.Author)</i> said at <i>@Html.DisplayFor(modelItem => item.PublishDate)</i>:<br/>
        <p class="comment-content">@Html.DisplayFor(modelItem => item.Content)</p>

        @if (User.Identity.Name == item.Author)
        {
            <a asp-action="Delete" asp-controller="Comments" asp-route-id="@item.ID" class="comment-delete">Delete</a>
        }

    </div>



}
