@using blog.Services
@model blog.Models.Comment

@{ scriptManager.Add("comments.js"); }

<form id="comment-form" asp-action="Create" asp-controller="Comments">

    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <textarea id="comment-input" asp-for="Content" ></textarea>
        <span asp-validation-for="Content" class="text-danger" />

        <input asp-for="EntryID" type="hidden" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
