@{
    ViewData["Title"] = "Error";
}

<h1>An error occured while processing your request.</h1>
<br/>
<p>Since this website is entirely bug-free, this must mean that the error is on your end. Which means, like this cat, you're being a real jerk.</p><br/>
<center><img src="~/images/jerk_cat.gif" /></center>
<br/>
<p>(In the unlikely event that you were not trying to be a jerk, please call our sysadmin, Taylor Mullen, at any time of the day. Preferably past midnight PDT. Seriously, anytime. Please voice your comments or complaints! Or, even call to say hello.)</p>
