@model blog.Models.Entry

@{
    ViewData["Title"] = "Delete";
}

<h3>Delete</h3>

<p>Are you sure you want to delete this?</p>
<div>
  @await Component.InvokeAsync("DetailEntry", new { entry = Model, showComments = false }) 
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    </form>
</div>
