@model blog.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<i>@Html.DisplayFor(model => model.PublishDate)</i>
<h2>@Html.DisplayFor(model => model.Title)</h2>
<p>@Html.DisplayFor(model => model.Author)</p>

<p>@Html.DisplayFor(model => model.Content)</p>

