@inject UserManager<ApplicationUser> UserManager
@model blog.Models.Profile

@{
    ViewData["Title"] = User.Identity.Name + "'s Profile";
}

<center class="profile-header"><h3>@Model.author's Blog</h3></center>

@*Public Entries*@
@if(Model.publicEntries.Count() == 0)
{
    <center><i>This author has no public entries!</i></center>
}
@foreach (var item in Model.publicEntries.Reverse())
{
    @await Component.InvokeAsync("DetailEntry", new { entry= item, showComments= false })

}

<br/><br/>

@*Private Entries*@
@if (User.Identity.Name == Model.author)
{
    @if (Model.privateEntries.Count() > 0)
    {
        <h4>Private Entries</h4>
    }

    @foreach (var item in Model.privateEntries.Reverse())
    {
        @await Component.InvokeAsync("DetailEntry", new { entry = item, showComments = false })

    }
}