@inject UserManager<ApplicationUser> UserManager
@model Blog.Models.Profile

@{
    ViewData["Title"] = User.Identity.Name + "'s Profile";
}

<center class="profile-header"><h3>@Model.Author's Blog</h3></center>

@*Public Entries*@
@if (Model.PublicEntries.Count() == 0)
{
    <center><i>This author has no public entries!</i></center>
}
@foreach (var item in Model.PublicEntries.Reverse())
{
    @await Component.InvokeAsync("EntryPreview", new { entry = item })

}

<br /><br />

@*Private Entries*@
@if(Model.Author == User.Identity.Name)
{
@if (Model.PrivateEntries.Count() > 0)
{
    <h4>Private Entries</h4>
}

@foreach (var item in Model.PrivateEntries.Reverse())
{
    @await Component.InvokeAsync("EntryPreview", new { entry = item })

}
}
