@using Blog.Services
@model Blog.Models.Comment

@{ 
    scriptManager.Add("comments.js");
 }


<div asp-validation-summary="All" class="text-danger"></div>
<form id="comment-form" asp-action="Create" asp-controller="Comments">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <textarea id="comment-input" asp-for="Content" ></textarea>
        <span asp-validation-for="Content" class="text-danger" />

        <input asp-for="EntryID" type="hidden" />
    </div>
</form>

