<style>
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/journal.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        color: white;
    }

    h1{
        font-size: large;
    }
</style>
@{
    ViewData["Title"] = "Blogs List";
}

<center>
    <h1> A revolutionary blogging experience. </h1>
    <p> You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. </p>
</center>