@using Microsoft.AspNetCore.Identity
@using blog.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



Welcome back, @UserManager.GetUserName(User) ! What would you like to do?

<ul>
    <li>Write in my blog.</li>
    <li>View my blog.</li>
    <li>View other blogs.</li>
</ul>

@await Html.PartialAsync("Entries")