<style>
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/journal.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        color: white;
    }

    h1{
        font-family: 'PT Serif', serif;
        font-size: 60px;
    }
    
    p{
        line-height:50px;
        font-size:24px;
    }

    center{
        margin-top: 30%;
        margin-bottom: 40%;
    }
</style>
@{
    ViewData["Title"] = "Blogs List";
}

<center>
    <h1> Bless up. </h1>
    <p> Walk with me through the pathway of more success. Take this journey with me, Lion! </p>
</center>