#title {
    font-family: 'PT Serif', serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.serif-text {
    font-family: 'PT Serif', serif;
}

label {
    font-family: 'PT Serif', serif;
    font-weight: normal;
}

.headeri {
    color: white;
}

h3, h4 {
    font-family: 'PT Serif', serif;
}

.entry-container {
    border-radius: 25px;
    border: 2px solid #eee;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-container {
    border-radius: 25px;
    border: 2px solid #eee;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-input {
    width: 80%;
}

.content-input {
    height: 600px;
    width: 80%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-content {
    padding-left: 20px;
}

.comment-delete {
    padding-left: 20px;
}

#comment-input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
}

.comment-submit {
}

.profile-header {
    padding: 10px;
}

.btn {
    margin-top: 10px;
}
